* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
 
}

body {

    /* display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh; */
    background-color: black;
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-size: 80px;
    letter-spacing: 50px;
   text-shadow: 2px 3px 32px rgb(255, 0, 0),
                3px 4px 38px rgb(97, 91, 91),
                4px 5px 40px rgb(0, 234, 255);
}

.card {
    position: relative;
    width: 900px;
    height: 450px;
    margin: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(-40deg, rgb(255, 0, 0), rgb(0, 0, 0));
    box-shadow: 8px 2px 80px  rgb(70, 69, 69);
}

.card img {
    height: 350px;
    transform: rotate(10deg);
    
}

img:hover  {
    height: 460px;
    width: 600px;
    transform: rotate(0deg);
}
